ultralytics==8.2.98
ultralytics-thop==2.0.6
fastapi==0.89.1
Pillow==9.2.0
python-decouple==3.8
python-dotenv==0.21.0
pydantic==1.10.6
uvicorn==0.20.0
uvloop==0.17.0
psycopg2==2.9.9
opencv-python==4.10.0.84
opencv-python-headless==4.8.0.76
python-multipart==0.0.9
huggingface-hub==0.25.0
SQLAlchemy==2.0.21
torch==2.2.2
torchvision==0.17.2
numpy==1.24.4
pandas==1.4.4